* text=auto
*.md text eol=lf
*.py text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.json text eol=lf
*.png binary
*.jpg binary
*.ico binary
*.exe binary
*.dll binary
*.lib binary
*.mfa binary
*.wav binary
*.webm binary
*.mp4 binary
